@import "config";
/**
 * Top Bar
 */
.masthead-search-terms-border {
  border: 1px solid $border-color-dark !important;
}

#masthead-appbar, 
#yt-masthead-container {
  border-bottom: 1px solid $border-color-dark !important;
}

#yt-masthead #logo-container .logo {
  @include sprite2(-296px, -290px);
}

/**
 * Guide Button
 */
.show-guide,
.yt-uix-button-icon-appbar-guide,
.show-guide #masthead-positioner:hover,
.yt-uix-button-icon-appbar-guide {
  @include sprite2(-63px, -14px);
}

#masthead-positioner:hover #appbar-guide-button {
  border-color: transparent !important;
  background: inherit !important;
}

.show-guide #appbar-guide-button .yt-uix-button-arrow,
.show-guide #masthead-positioner:hover #appbar-guide-button .yt-uix-button-arrow {
  border-top-color: $text-color-light !important;
}
