$background-color-dark: #222;
$text-color-light: #4183C4;
$text-color-bright-gray: #EEE;
$border-color-dark: #555;

$title-color-dark: #48A3EB;

@import "base";
@import "buttons";
@import "topbar";
@import "content";
@import "player";
